span {
    margin-right: 0.5em;
}

div.debug {
    position: fixed;
    bottom: 20px;
    left: 10px;
    z-index: 1;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    color: #ff7500;
    font-size: 0.75em;
    padding: 0.5em;
    width: initial;
}

#alert-popup {
    border-radius: 5px;
    position: absolute;
    bottom: 10%;
    left: 5%;
    display: block;
    width: 80%;
    margin: 1em;
    padding: 0.25em;
    color: #ff7500;
    font-size: 0.75em;
    text-align: center;
    background-color: white;
}

#place-label {
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

#place-label > span {
    z-index: 99999;
    padding: 0.25em;
    color: #ff7500;
    text-align: center;
    background-color: white;
    font-size: 1.5em;
    border-radius: 5px;
}

.fond{
    overflow: scroll;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.image_1{
    background-image: url(../../assets/image/intro.jpg);
    opacity: 0.3;
}

.image_2{
    background-image: url(../../assets/image/introBack.jpg);
    opacity: 0.9;
}

.desc, .btn{
    padding: 6%;
}

.desc{
    padding-top: 7%;
    line-height: 98%;
}

.center{
    padding: 4% 0 4% 0;
    display: inline-block; 
    margin: auto; 
    position: relative;
}

.btn-outline-primary{
    color: white;
}

/*
@media only screen and (max-width: 768px) {

    .titre_1{
        font-size: 30em;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .titre_2 {
        font-size: 15em;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        color: blue;
    }

    .btn{
        width: 450px;
    }

    .btn-primary{
        margin-right: 60px;
    }

    .image_3{
        background-color: black;
        opacity: 0.7;
        height: 50%;
        top: 50%;
        border-radius: 100px 100px 0 0;
        color: white;
    }
    
}*/
/*
@media screen and (orientation: landscape) and (min-width: 768px) {
    .titre_1{
        font-size: 4em;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .titre_2 {
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        font-size: 2em;
    }

    .btn{
        width: 300px;
        height: 80px;
        font-size: 5em;
    }

    .btn-primary{
        margin-right: 60px;
    }

    .image_3{
        background-color: black;
        opacity: 0.7;
        height: 50%;
        top: 50%;
        border-radius: 50px 50px 0 0;
        color: white;
    }
}
*/

@media screen and (orientation: portrait) {
    .titre_1{
        font-size: 6.5em;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .titre_2 {
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        font-size: 3em;
    }

    .btn{
        width: 25%;
        height: 80px;
    }

    .image_3{
        background-color: black;
        opacity: 0.7;
        height: 50%;
        top: 50%;
        border-radius: 50px 50px 0 0;
        color: white;
    }
}

