* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    display: initial;
    justify-content: initial;
    background-color: initial;
}

#myUL > li {
    height: 180px;
}

.border{
    border-radius: 50%;
}

.logo{
    height: 30px;
    width: 30px;
}

#myInput {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    top: 0;
    left: 0;
    position: fixed;
}


#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    margin: 50px 0 0;
}

#myUL li {
    width: 85%;
    margin: 30px auto 30px;
    border-radius: 10px;
    border: 1px solid #ddd; /* Add a border to all links */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: white; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a {
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: white; /* Add a black text color */
}

/* avoid to hidden by header */
#myUL li:nth-child(1){
    margin-top: 100px;
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.description{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 10px 0 10px;
}

p{
    font-size: 13px;
}

footer{
    z-index: 100;
}