.panel{
    overflow-y: scroll;
    font-size: 1em; 
    z-index: 10000;
    height: 100%;
    min-width: 32%;
    display: none;
    padding: 10px;
    background-color: white;
}

.mdl-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.fit-picture{
    width: 300px;
    height: 300px;
}

.text-large{
    font-size: 2em;
}

.panel > p:nth-child(3){
    text-align: justify;
}

.close{
    position: fixed;
    right: 0;
}


.d-modal {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    background-color: rgba(0, 0, 0, 0.6);
}

.d-modal-content {
    width: 90%;
    height: 95%;
    padding: 0 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-modal-head {
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    color: #333;
    font-size: 2.5em;
    position: relative;
}

.d-modal-head .d-modal-head-left {
    float: left;
}

.d-modal-head .d-modal-head-right {
    float: none;
    width: 16px;
    height: 16px;
    background: url(../assets/image/icon-delete.png) no-repeat 0 0;
    background-size: auto 16px;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
    transition: background-color .3s;
}

.d-modal-body {
    text-align: center;
    overflow-y: scroll;
    height: 90%;
}

.body-img{
    text-align: left;
}

.d-btn {
    display: none;
    padding: 0 20px;
    width: 100%;
    line-height: 40px;
    font-size: 14px;
    transition-duration: .3s;
    cursor: pointer;
    color: #fff;
    border: 1px solid #325ce1;
    background-color: #325ce1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Carrousel d'images */

.custom-slider { display: none; }
.slide-container {
    width: 100%;
    position: relative;
}
.prev, .next, .btn-close{
    cursor: pointer;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    font-size: 30px;
    background-color: rgba(210, 204, 204, 0.4);
    transition: background-color 0.6s ease;
    text-decoration:none;
}

.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover, .btn-close:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

body > *:not(.d-modal){
    filter: blur(0.6rem);
}

.description > p{
    font-size: 1em;
}

.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}

.slide-img{
    width: 78vw;
    height: 78vw;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.slide-dot{ text-align: center; }

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.description{
    text-align: left;
}

.active2, .dot:hover { background-color: #111111; }

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}


