.panel{
    overflow-y: scroll;
    font-size: 1em; 
    z-index: 10001;
    height: 100%;
    min-width: 32%;
    display: none;
    padding: 10px;
    background-color: orange;
}

.mdl-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.fit-picture{
    width: 300px;
}

.text-large{
    font-size: 2em;
}

.close{
    position: fixed;
    right: 0;
}
