span {
    margin-right: 0.5em;
}

div.debug {
    position: fixed;
    bottom: 20px;
    left: 10px;
    z-index: 1;
    background-color: rgba(1, 1, 1, 0.2);
    color: #ff7500;
    font-size: 0.75em;
    padding: 0.5em;
    width: initial;
}

#alert-popup {
    border-radius: 5px;
    position: absolute;
    bottom: 10%;
    left: 5%;
    display: block;
    width: 80%;
    margin: 1em;
    padding: 0.25em;
    color: #ff7500;
    font-size: 0.75em;
    text-align: center;
    background-color: white;
}

#place-label {
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

#place-label > span {
    z-index: 99999;
    padding: 0.25em;
    color: #ff7500;
    text-align: center;
    background-color: white;
    font-size: 1.5em;
    border-radius: 5px;
}

.fond{
    overflow: scroll;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.image_1{
    background-image: url(../assets/image/intro.jpg);
    opacity: 0.3;
}

.image_2{
    background-image: url(../assets/image/introBack.jpg);
    opacity: 0.9;
}

.image_3{
    background-color: black;
    opacity: 0.7;
    height: 55%;
    top: 45%;
    border-radius: 20px 20px 0 0;
    color: white;
}

.image_4{
    background-image: url(../assets/image/intro2.jpg);
    opacity: 0.9;
}

.desc{
    padding: 10% 6% 6%;
    line-height: 100%;
}

.center{
    padding: 4% 0 4% 0;
    width: 100%;
    justify-content: center;
}

.btn-outline-primary{
    color: white;
}

.btn-suivant{
    font-size: 1.5em; 
    border-radius: 0.5em; 
    color: white;
}

.btn-sauter{
    font-size: 1.5em; 
    border-radius: 0.5em;
}

.titre_1{
    font-size: 2.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.titre_2 {
    font-size: 1em;
    text-align: justify;
    padding-top: 0;
}

.btn{
    width: fit-content;
    height: fit-content;
    padding: 5%;
}

.btn-ios, .btn-android{
    width: 30%;
    margin: initial;
}

center{
    padding-bottom: 5%;
}

.logo{
    margin: 0 3px;
}

#install{
    width: 100%;
    height: 75px;
    background: linear-gradient(45deg,#fc5c7d,#6a82fb,#fc5c7d);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
}

img{
    width: 100%;
}


.titre{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

h5{
    width: fit-content;
}

.logo{
    background: url(../assets/splashscreen/logo.png) no-repeat 0 0;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
}

.d-modal {
    display: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.6);
}

.d-modal-content {
    width: 90%;
    height: 90%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-modal-head {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    position: relative;
}

.d-modal-head .d-modal-head-left {
    float: left;
    padding-left: 12px;
}

.d-modal-head .d-modal-head-right {

    float: none;
    width: 16px;
    height: 16px;
    background: url(../assets/image/icon-delete.png) no-repeat 0 0;
    background-size: auto 16px;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
    transition: background-color .3s;
}

.d-modal-body {
    text-align: center;
    overflow-y: scroll;
    height: 85%;
}

.body-img{
    text-align: left;
}

.d-modal-body-right {
    margin: 0;
    padding: 15px;
    max-width: 74%;
    display: inline-block;
    min-height: 110px;
    vertical-align: top;
}

.d-modal-body-title {
    margin: 20px 0;
    text-align: justify;
    font-size: inherit;
}

.d-btn {
    display: inline-block;
    margin: 0 3px;
}

.d-btn:first-child, .d-btn:last-child {
    padding: 0 20px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    transition-duration: .3s;
    cursor: pointer;
}

.d-btn:first-child {
    color: #999;
    border: 1px solid #d9d9d9;
    background-color: #fafafa;
}

.d-btn:last-child {
    color: #fff;
    border: 1px solid #325ce1;
    background-color: #325ce1;
}

.arrow{
    position: absolute; 
    right: 0; 
    top: 35%;
}

.install-img, .install-img-2{
    width: 78vw;
    height: 78vw;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


.btn-bar{
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    text-align: center;
}

@media all and (min-width: 600px) {
    .titre_2 {
        font-size: 1.5em;
        text-align: justify;
        padding-top: 0;
    }

    .d-modal-body-title {
        margin: 20px 0;
        text-align: justify;
        font-size: 1.5em;
    }

    .d-modal-head .d-modal-head-left {
        float: left;
        padding-left: 12px;
        font-size: 1.5em;
    }
    
    .desc{
        line-height: initial;
    }
    
}


/* test images */

.custom-slider { display: none; }
.slide-container {
    width: 100%;
    position: relative;
}
.prev, .next, .btn-close{
    cursor: pointer;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    font-size: 30px;
    background-color: rgba(210, 204, 204, 0.4);
    transition: background-color 0.6s ease;
    text-decoration:none;
}

.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover, .btn-close:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}

.slide-img{
    width: 78vw;
    height: 78vw;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.slide-dot{ text-align: center; }

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.description{
    text-align: left;
}

.active2, .dot:hover { background-color: #111111; }

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
