/* button */
.mdl-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: 100;
}

#googleMap{
    height: 300px;
}

/* Carrousel d'images */
.custom-slider { display: none; }
.slide-container {
    width: 100%;
    position: relative;
}
.prev, .next, .btn-close{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}

.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover, .btn-close:hover {
    background-color: rgba(0,0,0,0.5);
}

.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}

.slide-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.slide-dot{ text-align: center; }

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover { background-color: #111111; }

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.box {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.box:nth-child(2n+1) {
    text-align: center;
    color: #000;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr) minmax(79%, 3fr));
}

.large{
    font-size: 1.5em;
}

.btn-close{
    font-size: 2em; 
    position: absolute;
    z-index: 100;
    top: 30px;
    right: 0;
}
