* {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
}

.wrapper {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    top: 15px;
    left: 0;
    z-index: 9997;
}

.box {
    position: relative;
    width: 250px;
    height: fit-content;
}

.box .point {
    position: absolute;
    height: 25px;
    width: 2px;
    left: 50%;
    background-color: black;
    z-index: 10;
}

.box .dial {
    position: relative;
    height: 400px;
    width: 300px;
    left: calc(50% - 155px);
    transform-origin: 158px 111px;
}

.box .dial .scale {
    position: absolute;
    height: fit-content;
    width: 300px;
    border-radius: 50%;
    transform-origin: 150px 150px;
    transform: translatez(0px) rotate(11deg);
}

/* 小刻度 */
.box .dial .scale ul li {
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    height: 10px;
    background-color: #ddd;
    transform-origin: center 110px;
}

/* 中刻度 */
.box .dial .scale ul li:nth-of-type(5n) {
    height: 12px;
}

/* 大刻度 */
.box .dial .scale ul li:nth-of-type(10n) {
    height: 15px;
    background-color: rgba(0, 0, 0, .5);
}

#chartContainer{
    height: 300px;
    width: 500px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

.middle{
    left: -93px;
    top: -40px;
    position: absolute;
    clip: rect(65px, 335px, 365px, 165px);
    border-radius: 50%;
}